/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable */
:root {
  /* Color */
  --main-color: #16325B;
  --secondary-color: #227B94;
  --third-color: #78B7D0;

  --main-font-color: #FEFAE0;

  /* Font */
  --roboto-font: "Roboto", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --inter-font: "Inter", sans-serif;
}

/* base Typography */
html {
  /* default font size to all elements */
  /* we will use rem value for html elements */
  /* ,which is inheritance value of root parents that is html itself */
  font-size: 18px;
}

/* Navbar start */
  /* Layout start*/
header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 48%;
  z-index: 100;
}
ul.navbar-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
ul.navbar-list li {
  position: relative;
}
  /* Layout end */

  /* Typography start*/
header.navbar .company-name {
  font-family: var(--inter-font);
  font-size: 3rem;
  color: var(--main-font-color);
}
header.navbar .company-name span {
  color: var(--secondary-color);
}
a.navbar-list__link {
  font-family: var(--inter-font);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--main-font-color);
}

  /* Typography end */

  /* Style start*/
header.navbar {
  background-color: var(--main-color);
  padding: 0.5rem;
}
header.navbar .company-name {
  padding: 0 1rem;
}
ul.navbar-list li {
  list-style-type: none;
}
  /* Style end */

  /* Hover state start */
ul.navbar-list li::after{
  content: '';
  bottom: -1.8rem;
  position: absolute;
  left: 50%;
  width: 0;
  height: 0.3rem;
  background-color: var(--main-font-color);
  transition: width 0.4s ease, left 0.4s ease;
}
ul.navbar-list li:hover::after{
  width: 100%;
  left: 0;
}
ul.navbar-list li.active::after{
  width: 100%;
  left: 0;
}
  /* Hover state end */
/* Navbar end */


/* Footer start */
  /* Layout start */
footer.index-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer.index-footer .index-footer-description{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
footer.index-footer .index-footer-description > * {
  width: 30%;
}
footer.index-footer .index-footer-description .index-footer__social-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
  /* Layout end */

  /* Typography start */
footer.index-footer .index-footer-description section  h3 {
  font-family: var(--poppins-font);
  font-size: 1.5rem;
  color: var(--main-font-color);
}
footer.index-footer .index-footer-description ul.menu-list .menu-list__item {
  /* for list style type square to be bigger */
  font-size: 1em;
  color: var(--main-font-color);
}
footer.index-footer .index-footer-description ul.menu-list .menu-list__item a,
footer.index-footer .index-footer-description .index-footer__address p {
  font-family: var(--inter-font);
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--main-font-color);
}
footer.index-footer .index-footer-description .index-footer__address p {
  font-size: 0.9rem;
}
footer.index-footer h4 {
  font-family: var(--inter-font);
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--main-font-color);
}
  /* Typography end */

  /* Style start */
footer.index-footer {
  background-color: var(--main-color);
}
footer.index-footer .index-footer-description{
  padding: 2rem;
} 
footer.index-footer .index-footer-description ul.menu-list .menu-list__item {
  list-style-type: square;
}
hr {
  width: 80%;
  border-style: solid;
  border-width: 1px;
  color: var(--main-font-color);
}
footer.index-footer h4 {
  padding: 0.4rem 0;
}
  /* Style end */

  /* Hover state start */

  /* Hover state end */
/* Footer end */

/* ----------jobs.html start---------- */
/* Layout start*/

  /* jobs body start*/
body#jobs-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
  /* jobs body end */

  /* Jobs main start */
main.jobs-main {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-auto-rows: 30vh;
  gap: 2rem;
  min-height: 100vh;
}
  /* Jobs main end */

  /* Job card start */
article.job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article.job .main-info-wrapper {
  display: flex;
}
article.job .main-info-wrapper .job-main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
article.job .main-info-wrapper .job-main-info .job-btn-wrapper {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}
  /* Job card end */

  /* Job popup start */
.position-overview, .requirement {
  display: inline-block;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.info-close-btn {
  float: right;
}
  /* Job popup end */
  /* Job hunting tips start */
aside#job-hunting-tips {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
aside#job-hunting-tips .job-hunting-description{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

  /* Job hunting tips end */
/* Layout end */

/* Typography strat*/
  /* Job card start */
article.job .main-info-wrapper .job-main-info {
  font-family: var(--roboto-font);
  color: var(--main-font-color);
}
article.job .main-info-wrapper .job-main-info {
  font-size: 0.9rem;
}
article.job .main-info-wrapper .job-main-info .job-basic-info h2 {
  text-decoration: underline;
}
article.job .main-info-wrapper .job-main-info .job-basic-info p {
  font-size: 0.8rem;
  font-family: var(--inter-font);
}
article.job .main-info-wrapper .job-main-info .job-basic-info p strong {
 font-family: var(--roboto-font);
}
article.job .main-info-wrapper .job-main-info .job-btn-wrapper a,
article.job #job-apply-btn {
  text-decoration: none;
  color: var(--main-color);
  font-size: 0.7rem;
}
article.job #job-apply-btn {
  color: var(--main-font-color);
  font-size: 0.7rem;
}
  /* Job card end */

  /* Job info popup start */
.position-overview, .requirement {
  color: var(--main-font-color);
  line-height: 1.5rem;
}
.position-overview h3, .requirement h3, .requirement h4 {
  font-family: var(--roboto-font);
}
.position-overview p {
  font-family: var(--poppins-font);
}
.position-overview ul, .requirement ol, .requirement ul {
  padding-left: 1.5rem;
}
.position-overview ul li, .requirement ol li, .requirement ul li {
  font-family: var(--inter-font);
}
.info-close-btn {
  font-family: var(--inter-font);
  color: var(--main-font-color);
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;  
}
  /* Job info popup end */

  /* Job hunting tips start */
aside#job-hunting-tips {
  font-size: 1.5rem;
  color: var(--main-color);
}
aside#job-hunting-tips .job-hunting-description h3{
  font-family: var(--roboto-font);
}
aside#job-hunting-tips .job-hunting-description p {
  font-family: var(--poppins-font);
}
aside#job-hunting-tips .job-hunting-description ul li {
  font-family: var(--inter-font);
}
  /* Job hunting tips end */
/* Typography end*/

/* Style start*/
  /* Jobs body start */
body#jobs-body {
  background-color: var(--secondary-color);
}
  /* Jobs body end */

  /* Jobs main start */
main.jobs-main {
  padding: 1rem;
  background: linear-gradient(0deg, rgba(34,123,148,0.5),rgba(34,123,148,0.5)), url("/styles/images/jobhuntingtips.jpg");
  background-size: cover;
}
  /* Jobs main end */

  /* Job card start */
article.job {
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: 8px;
}
article.job .main-info-wrapper {
  border-left: 2px solid var(--main-font-color);
}
article.job .main-info-wrapper .job-main-info {
  padding: 1rem;
}
article.job .main-info-wrapper .job-main-info .job-btn-wrapper a {
  background-color: var(--main-font-color);
  padding: 0.3rem;
}
article.job #job-apply-btn {
  background-color: var(--main-color);
  border: 2px solid var(--main-font-color);
}
  /* Job card end */

  /* Job popup info start */
.position-overview,.requirement {
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 2rem;
  overflow-y: auto;
}
.position-overview h3, .requirement h3 {
  clear: right;
}
.position-overview hr {
  border: 1px solid var(--main-font-color);
  margin: 1rem 0;
}
  /* Job popup info end */

  /* Job hunting tips start */
aside#job-hunting-tips {
  background-color: var(--main-font-color);
}
  /* Job hunting tips end */
/* Style end*/

/* Function and State start*/
  /* Job info popup start*/
  .position-overview, .requirement {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1; /*To be as an overlay on other elements */
    width: 80%;
    max-height: 60vh;
  }
  .position-overview:target, .requirement:target {
    visibility: visible;
    opacity: 1;
  }
  /* Job info popup end */

/* Function and State end*/
/* ----------jobs.html end---------- */