/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variable */
:root {
  /* Color */
  --main-color: #16325b;
  --secondary-color: #227b94;
  --third-color: #78b7D0;

  --main-font-color: #fefae0;

  /* Font */
  --roboto-font: "Roboto", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --inter-font: "Inter", sans-serif;
}

/* base Typography */
html {
  /* default font size to all elements */
  /* we will use rem value for html elements */
  /* ,which is inheritance value of root parents that is html itself */
  font-size: 18px;
}

/* Navbar start */
  /* Layout start*/
header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 48%;
  z-index: 100;
}
ul.navbar-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
ul.navbar-list li {
  position: relative;
}
  /* Layout end */

  /* Typography start*/
header.navbar .company-name {
  font-family: var(--inter-font);
  font-size: 3rem;
  color: var(--main-font-color);
}
header.navbar .company-name span {
  color: var(--secondary-color);
}
a.navbar-list__link {
  font-family: var(--inter-font);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--main-font-color);
}

  /* Typography end */

  /* Style start*/
header.navbar {
  background-color: var(--main-color);
  padding: 0.5rem;
}
header.navbar .company-name {
  padding: 0 1rem;
}
ul.navbar-list li {
  list-style-type: none;
}
  /* Style end */

  /* Hover state start */
ul.navbar-list li::after{
  content: '';
  bottom: -1.8rem;
  position: absolute;
  left: 50%;
  width: 0;
  height: 0.3rem;
  background-color: var(--main-font-color);
  transition: width 0.4s ease, left 0.4s ease;
}
ul.navbar-list li:hover::after{
  width: 100%;
  left: 0;
}
ul.navbar-list li.active::after{
  width: 100%;
  left: 0;
}
  /* Hover state end */
/* Navbar end */


/* Footer start */
  /* Layout start */
footer.index-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer.index-footer .index-footer-description{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
footer.index-footer .index-footer-description > * {
  width: 30%;
}
footer.index-footer .index-footer-description .index-footer__social-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
  /* Layout end */

  /* Typography start */
footer.index-footer .index-footer-description section  h3 {
  font-family: var(--poppins-font);
  font-size: 1.5rem;
  color: var(--main-font-color);
}
footer.index-footer .index-footer-description ul.menu-list .menu-list__item {
  /* for list style type square to be bigger */
  font-size: 1em;
  color: var(--main-font-color);
}
footer.index-footer .index-footer-description ul.menu-list .menu-list__item a,
footer.index-footer .index-footer-description .index-footer__address p {
  font-family: var(--inter-font);
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--main-font-color);
}
footer.index-footer .index-footer-description .index-footer__address p {
  font-size: 0.9rem;
}
footer.index-footer h4 {
  font-family: var(--inter-font);
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--main-font-color);
}
  /* Typography end */

  /* Style start */
footer.index-footer {
  background-color: var(--main-color);
}
footer.index-footer .index-footer-description{
  padding: 2rem;
} 
footer.index-footer .index-footer-description ul.menu-list .menu-list__item {
  list-style-type: square;
}
hr {
  width: 80%;
  border-style: solid;
  border-width: 1px;
  color: var(--main-font-color);
}
footer.index-footer h4 {
  padding: 0.4rem 0;
}
  /* Style end */

  /* Hover state start */

  /* Hover state end */
/* Footer end */


/* ----------index.html start---------- */
/* Layout start */

  /* index body start */
body#index-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  /* index body end */

  /* index main start */
main#index-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main#index-main h2 {
  /* to be center and to be obvious visual */
  width: 50%;
}
  /* index main end */

  /* article services start */
article.index-services{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.services{
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}
.computer-image, .ai-image, .cloud-image {
  height: 20rem;
}
#software,#ai,#cloud{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  height: auto;
  width: 25vw; 
  justify-content: space-between;
}
article.index-services h2{
  text-align: center;
  font-family: var(--poppins-font);
  color: var(--main-font-color);
  font-size: 1.7em;
}
section.services a.service-button{
  width: 100%;
  position:relative;
}
  /* article services end */

  /* article customer start */
article.index-customers{
  width: 100%;
  height: 30vh;
}
article.index-customers section.customers { 
  display: inline-block;
}
article.index-customers img {
  height: 17vh;
}
  /* article customer end */

  /* article about start */
article.index-about-us{
  display: flex;
  justify-content: space-evenly;
}
article.index-about-us .about-us-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  width: 60%;
}
article.index-about-us section.about-us-description p{
  width: 85%;
}
a#about-learn-more {
  width: 15%;
}
  /* article about end */

  /* Testimonials start */
article.index-testimonial{
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
article.index-testimonial section.testimonial{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem; 
}
article.index-testimonial section.testimonial div.testimonial-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 60%;
}
article.index-testimonial section.testimonial div.testimonial-card:nth-child(2) {
  align-self: center;
}
article.index-testimonial section.testimonial div.testimonial-card:last-child {
  align-self: flex-end;
}
div.testimonial-card .testimonial-card-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
div.testimonial-card-description .name-and-position {
  align-self: flex-end;
}
article.index-testimonial section.testimonial .testimonial-card-image img{
  width: 5rem;
}
  /* Testimonials end */
/* Layout end */

/* Typography start */
  /* index main start */
main#index-main h2,main#index-main p {
  font-family: var(--poppins-font);
  font-weight: 400;
  color: var(--main-font-color);
  text-align: center;
}
  /* index main end */

  /* article services start */
.service-button {
  font-family: var(--poppins-font);
}
#software,#ai,#cloud{
  color: var(--main-font-color);
}
section.services h3{
  text-align: center;
  font-family: var(--poppins-font);
  color: var(--main-font-color);
}
section.services p{
  text-align: left;
  font-family: var(--poppins-font);
  color: var(--main-font-color);
}
section.services a.service-button{
  text-decoration: none;
  text-align: center;
  color: var(--main-font-color);
}
  /* article services end */

  /* article customer start */
article.index-customers h2 {
  text-align: center;
  font-family: var(--poppins-font);
  color: var(--main-color);
  font-size: 2em;
}
  /* article customer end */

  /* article about start */
article.index-about-us h2{
  text-align: center;
  font-family: var(--poppins-font);
  color: var(--main-font-color);
}
article.index-about-us .about-us-description{
  font-family: var(--inter-font);
}
article.index-about-us section.about-us-description p{
  font-family: var(--inter-font);
  color: var(--main-font-color);
  font-size: 1em;
  text-align: justify;
}
a#about-learn-more {
  text-decoration: none;
  color: white;
  text-align: center;
}
  /* article about end */

  /* Testimonials start */
article.index-testimonial {
  font-family: var(--inter-font);
  color: var(--main-font-color);
  text-align: justify;
}
article.index-testimonial h2{
  text-align: center;
  font-family: var(--poppins-font);
  color: var(--main-color);
  font-size: 2em; 
}
  /* Testimonials end */
/* Typography end */

/* Style start */
  /* index body start */
body#index-body {
  background-color: var(--main-color);
}
  /* index body end */

  /* index main start */
main#index-main {
  background-color: var(--main-color);

  /* in case of h2 to obtain obvious visual */
  background: linear-gradient(0deg, rgba(60, 61, 55, 0.5), rgba(60, 61, 55, 0.7)), url("images/banner.jpg");

  /* background image to be fully cover */
  background-size: cover;

  /* making background image center */
  background-position-y: 35%;

  padding: 0 5rem;
}
main#index-main img {
  filter: drop-shadow(0 0 90px var(--main-font-color));  
}
  /* index main end */

  /* article services start */
article.index-services{
  background-color: var(--main-color);
}
section.services{
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.computer-image, .ai-image, .cloud-image {
  background-size: cover;
  border-radius: 0.5rem;
}
.computer-image{
  background-image: url("../images/software.jpg");
}
.ai-image{
  background-image: url("../images/ai.jpg");
}
.cloud-image{
  background-image: url("../images/cloud.jpg");
}
#software,#ai,#cloud{
  border-radius: 0.7rem;
  background-color: var(--secondary-color);
  padding: 1.5rem;
}
article.index-services h2{
  padding: 0.5rem;
}
section.services h3{
  padding: 0.5rem;
}
section.services p{
  margin-bottom: 1.6rem;
}
section.services a.service-button{
  background-color: var(--main-color);
  padding: 0.7rem;
  border-radius: 0.4rem;
}
  /* article services end */

  /* article customer start */
article.index-customers{
  background-color: var(--main-font-color);
  overflow: hidden;
  white-space: nowrap;
}
article.index-customers h2 {
  padding: 10px;
}
article.index-customers section.customers { 
  margin-top: 30px;
}
article.index-customers img {
  margin-right: 20px;
}
  /* article customer end */

  /* article about start */
article.index-about-us{
  background-color: var(--secondary-color);
  padding: 2rem;
}
article.index-about-us section.about-us-description p{
  padding: 1.4rem;
}
a#about-learn-more {
  background-color: var(--main-color);
  padding: 0.9rem;
  border-radius: 0.5rem;
}
  /* article about end */

  /* Testimonials start */
article.index-testimonial{
 background-color: var(--main-font-color);
}
article.index-testimonial h2{
 padding: 10px;
}
article.index-testimonial section.testimonial{
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
article.index-testimonial section.testimonial div.testimonial-card {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 2rem;
}
article.index-testimonial section.testimonial div.testimonial-card-image img{
  border: 3px solid var(--main-font-color);
  border-radius: 50%;
}
  /* Testimonials end */
/* Style end */

/* Hover state start */
a#about-learn-more:hover{
  border:2px solid var(--main-font-color);
}

section.services a.service-button::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  border:2px solid var(--main-color);
  border-radius: 0.4rem;
}
section.services a.service-button:hover::before,
section.services a.service-button:focus::before{
  top: calc(2px* -2);
  left: calc(2px* -2);
  bottom: calc(2px* -2);
  right: calc(2px* -2);
}
/* Hover state end */

/* Animation start */
article.index-customers section.customers { 
  animation: move 15s linear infinite;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* Animation end */
/* ----------index.html end---------- */


/* ----------jobs.html start---------- */
/* Layout start*/

  /* jobs body start*/
body#jobs-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
  /* jobs body end */

  /* Jobs main start */
main.jobs-main {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-auto-rows: 30vh;
  gap: 2rem;
  min-height: 100vh;
}
  /* Jobs main end */

  /* Job card start */
article.job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article.job .main-info-wrapper {
  display: flex;
}
article.job .main-info-wrapper .job-main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
article.job .main-info-wrapper .job-main-info .job-btn-wrapper {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}
  /* Job card end */

  /* Job popup start */
.position-overview, .requirement {
  display: inline-block;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.info-close-btn {
  float: right;
}
  /* Job popup end */
  /* Job hunting tips start */
aside#job-hunting-tips {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
aside#job-hunting-tips .job-hunting-description{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

  /* Job hunting tips end */
/* Layout end */

/* Typography strat*/
  /* Job card start */
article.job .main-info-wrapper .job-main-info {
  font-family: var(--roboto-font);
  color: var(--main-font-color);
}
article.job .main-info-wrapper .job-main-info {
  font-size: 0.9rem;
}
article.job .main-info-wrapper .job-main-info .job-basic-info h2 {
  text-decoration: underline;
}
article.job .main-info-wrapper .job-main-info .job-basic-info p {
  font-size: 0.8rem;
  font-family: var(--inter-font);
}
article.job .main-info-wrapper .job-main-info .job-basic-info p strong {
 font-family: var(--roboto-font);
}
article.job .main-info-wrapper .job-main-info .job-btn-wrapper a,
article.job #job-apply-btn {
  text-decoration: none;
  color: var(--main-color);
  font-size: 0.7rem;
}
article.job #job-apply-btn {
  color: var(--main-font-color);
  font-size: 0.7rem;
}
  /* Job card end */

  /* Job info popup start */
.position-overview, .requirement {
  color: var(--main-font-color);
  line-height: 1.5rem;
}
.position-overview h3, .requirement h3, .requirement h4 {
  font-family: var(--roboto-font);
}
.position-overview p {
  font-family: var(--poppins-font);
}
.position-overview ul, .requirement ol, .requirement ul {
  padding-left: 1.5rem;
}
.position-overview ul li, .requirement ol li, .requirement ul li {
  font-family: var(--inter-font);
}
.info-close-btn {
  font-family: var(--inter-font);
  color: var(--main-font-color);
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;  
}
  /* Job info popup end */

  /* Job hunting tips start */
aside#job-hunting-tips {
  font-size: 1.5rem;
  color: var(--main-color);
}
aside#job-hunting-tips .job-hunting-description h3{
  font-family: var(--roboto-font);
}
aside#job-hunting-tips .job-hunting-description p {
  font-family: var(--poppins-font);
}
aside#job-hunting-tips .job-hunting-description ul li {
  font-family: var(--inter-font);
}
  /* Job hunting tips end */
/* Typography end*/

/* Style start*/
  /* Jobs body start */
body#jobs-body {
  background-color: var(--secondary-color);
}
  /* Jobs body end */

  /* Jobs main start */
main.jobs-main {
  padding: 1rem;
  background: linear-gradient(0deg, rgba(34,123,148,0.5),rgba(34,123,148,0.5)), url("/styles/images/jobhuntingtips.jpg");
  background-size: cover;
}
  /* Jobs main end */

  /* Job card start */
article.job {
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: 8px;
}
article.job .main-info-wrapper {
  border-left: 2px solid var(--main-font-color);
}
article.job .main-info-wrapper .job-main-info {
  padding: 1rem;
}
article.job .main-info-wrapper .job-main-info .job-btn-wrapper a {
  background-color: var(--main-font-color);
  padding: 0.3rem;
}
article.job #job-apply-btn {
  background-color: var(--main-color);
  border: 2px solid var(--main-font-color);
}
  /* Job card end */

  /* Job popup info start */
.position-overview,.requirement {
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 2rem;
  overflow-y: auto;
  border: 2px solid var(--main-font-color);
}
.position-overview h3, .requirement h3 {
  clear: right;
}
.position-overview hr {
  border: 1px solid var(--main-font-color);
  margin: 1rem 0;
}
  /* Job popup info end */

  /* Job hunting tips start */
aside#job-hunting-tips {
  background-color: var(--main-font-color);
}
  /* Job hunting tips end */
/* Style end*/

/* Function and State start*/
  /* Job info popup start*/
  .position-overview, .requirement {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1; /*To be as an overlay on other elements */
    width: 80%;
    max-height: 60vh;
  }
  .position-overview:target, .requirement:target {
    visibility: visible;
    opacity: 1;
  }
  /* Job info popup end */

/* Function and State end*/
/* ----------jobs.html end---------- */


/* ----------apply.html start---------- */
/* Layout start*/

  /* apply body start */
body#apply-body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}
  /* apply body end */

  /* Form container start */
#form-container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  align-items: stretch;
  align-self: center;
}
  /* Form container end */

  /* Form-left start */
#form-left {
  width: 50%;
  height: auto; 
}
section.section-form-left{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
  /* Form-left end */

  /* Form-right start */
#form-right {
  display: flex;
  width: 50%;
  height: 100%;
}
#form-right form{
 width: 80%;
}
.apply-personal,.apply-contact,.apply-skill{
  display: none;
  width: auto;
  height: 70vh;
}
.apply-personal:target{
  display: block;
}
.apply-contact:target{
  display: block;
}
.apply-skill:target{
  display: block;
}
.navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.navigation a {
  width: 100%;
}
#form-right input[type="text"],input[type="email"],input[type="tel"],input[type="password"],select,textarea {
  width: 100%;
}
#form-right select {
  width: 100%;
}#form-right input[type="submit"] {
  display: block;
  width: 100%;
}
  /* Form-right end */
/* Layout end */

/* Typography start*/
  /* Form-left start */
#form-left {
  font-family: var(--roboto-font);
}
h2#applyhere{
  text-align: center;
  color: #333;
  padding: 10px;
}
section.section-form-left h2{
  color: var(--main-font-color);;
}
section.section-form-left h3{
  color: var(--main-font-color);
  text-align: center;
}
section.section-form-left p{
  color: var(--main-font-color);
  text-align: center;
}
section.section-form-left ul li{
  text-align: center;
  color: var(--main-font-color);
}
  /* Form-left end */

  /* Form-right start */
#form-right h2 {
  font-family: var(--roboto-font);
  color: var(--main-font-color); 
  text-decoration: underline;
}
#form-right form p {
  text-align: left;
  color: var(--main-color);
}
#form-right label {
  font-weight: bold;
  color: var(--main-color);
  font-family: var(--inter-font);
}
.navigation a {
  font-family: var(--poppins-font);
  text-decoration: none;
  text-align: center;
  color: var(--main-font-color);
}
#form-right fieldset legend{
  font-weight: bold;
  font-size: 1rem;
  color: var(--main-color);
  font-family: var(--poppins-font);
}
#form-right input[type="submit"] {
  color: var(--main-font-color);
  font-size: 16px;
}
  /* Form-right end */
/* Typography end */

/* Style start*/
  /* apply body start */
body#apply-body {
  background: linear-gradient(rgba(22, 50, 91, 0.5), rgba(22, 50, 91, 0.5));
}
  /* apply body end */

  /* Form container start */
#form-container {
  padding: 3rem;
}
  /* Form container end */

  /* Form-left start */
#form-left {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/styles/images/banner.jpg') no-repeat center center/cover;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
section.section-form-left img {
  filter: drop-shadow(0 0 70px var(--main-font-color));
}
section.section-form-left h3{
  margin-top:2rem;
}
section.section-form-left ul{
  list-style-type: none;
}
section.section-form-left ul li{
  padding: 0.5rem;
}
  /* Form-left end */

  /* Form-right start */
#form-right {
  background:linear-gradient(45deg,var(--main-color), var(--secondary-color));
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; 
}
#form-right h2 {
 padding-bottom: 1.2rem;
}
#form-right form {
  margin: auto;
  padding: 2rem 1rem;
  overflow: hidden;
}
#form-right form p {
  margin-bottom: 1rem;
}
#form-right label {
  margin-bottom: 8px;
}
.apply-personal,.apply-contact,.apply-skill{
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem; 
  overflow-y: auto;
}
.navigation a {
  display: inline-block;
  padding: 0.7rem;
  background-color: var(--main-color); 
  border-radius: 5px;
  margin-top: 1rem;
}
#form-right input[type="text"],input[type="email"],input[type="tel"],input[type="password"],select,textarea {
  border: none;
  padding: 0.7rem;
  border-bottom: 3px solid var(--secondary-color);
}
#form-right input[type="date"]{
  border: 2px double var(--secondary-color);
}
#form-right select{
  padding: 0.7rem;
  border-radius: 0.3rem;
}
#form-right fieldset{
  border: 2px double var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
#form-right input[type="submit"] {
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
  /* Form-right end */


/* Style end */

/* Hover State start */
#form-right input[type="submit"]:hover {
  background-color: var(--secondary-color);
}
/* Hover State end */

/* Function and State start */
body:not(:has(:target)) #step1 {
  display: block;
}
/* Function and State end */
/* ----------apply.html end---------- */

/* ----------about.html start---------- */
/* Layout start */
  /* about body start */
body#about-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  /* about body end */

  /* about main start */
main#about-main {
  display: flex;
  flex-direction: column;
}
  /* about main end */

  /* group and course info start */
.group-and-course-info {
  display: flex;
  justify-content: center;
}
dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#about-lists img {
  float: right;
}
section#lecturers{
  display: flex;
  flex-direction: ROW;
  justify-content: center;
  gap: 10rem;
}
  /* group and course info end */

  /* time table start */
#time-table {
  display: flex;
  justify-content: center;
  gap: 1rem; 
}
#time-table td {
  width: 100px;
}
  /* time table end */

  /* person card start */
#person-cards, #person-cards .person .person-image {
  display: flex;
  justify-content: center;
}
#person-cards {
  gap: 2rem;
}
#person-cards .person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#person-cards .person .person-image img {
  width: 6rem;
}
.person-description{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
  /* person card end */
/* Layout end */

/* Typography start */

  /* about body start */
body#about-body {
  color: var(--main-font-color);
}
  /* about body end */

  /* group and course info start */
.group-and-course-info #about-lists dt, .group-and-course-info #lecturers h3 {
  font-family: var(--roboto-font);
}
.group-and-course-info #about-lists dd, .group-and-course-info #lecturers li {
  font-family: var(--inter-font);
}
dl dt{
  font-weight: bold;
}
  /* group and course info end */

  /* time table start */
#time-table th {
  font-family: var(--roboto-font);
  text-align: center;
  font-weight: bold;
}
#time-table td {
  font-family: var(--poppins-font);
  font-size: 0.8em;
  text-align: center;
  color: var(--main-font-color);
}
  /* time table end */

  /* person card start */
#person-cards .person .person-description h2 {
  font-family: var(--roboto-font);
}
#person-cards .person .person-description p {
  font-family: var(--inter-font);
}
  /* person card end */
/* Typography end */

/* Style start */
  
  /* about body start */
body {
  background-color: var(--secondary-color);
}
  /* about body end */

  /* group and course info start */
.group-and-course-info {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.group-and-course-info #lecturers {
  border-left: 2px solid var(--main-font-color);
  padding-left: 2rem;
}

#about-lists{
  padding: 1rem;
}
#about-lists dl {
  margin-bottom: 1rem;
}
#about-lists img{
  height: 300px;
  border: 3px solid var(--main-font-color);
  border-radius: 10px;
} 
section#lecturers{
  padding: 1rem;
}
#lecturers ol{
  float: left;
}
#lecturers ul li{
  list-style-type: none;
}
#lecturers li{
  margin-bottom: 0.7em
}
#lecturers h3{
  margin-bottom: 20px;
}
  /* group and course info end */

  /* time table start */
#time-table{
  padding: 1rem;
  background-color: var(--main-color);
}
#time-table th{
  padding: 0.5rem;
}
#time-table td{
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--secondary-color);
}
th.hide{
  visibility: hidden;
}
div.hide{
  visibility: hidden;
}
  /* time table end */

  /* person card start */
#person-cards {
  margin: 3rem 0;
}
.person {
  background-color: var(--main-color);
  padding: 2rem;
  border-radius: 10px;
}
#person-cards .person .person-description h2 {
  margin-bottom: 0.5rem;
}
#person-cards .person .person-image img {
  border: 2px solid var(--main-font-color);
  border-radius: 50%;
}
  /* person card end */
/* Style end */
/* ----------about.html end---------- */

/* ----------enhancement.html start---------- */
/* Layout start */
  /* enhancement container start */
#enchancements-title{
  width: fit-content; 
}
.enhancements-card-right {
  display: flex;
  flex-direction: row-reverse;
  width: 100%; 
  justify-content: space-between;
}
.enhancements-card-left {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}
.enhance-img{
  max-width: 50%;
  height: auto;
}
.enhance-img img{
  width: 100%;
  height: auto;
}
  /* enhancement container start */
/* Layout end */

/* Typography start */
  /* enhancement body start */
body#enhancement-body {
  font-family:var(--poppins-font);
}
  /* enhancement body end */

  /* enhancement container start */
#enchancements-title{
  text-align: center; 
  font-size: 2rem; 
  font-weight: bold; 
  color: var(--main-font-color);
  text-decoration: underline;
}
.enhancements-card-right {
  text-align: left; 
}
.enhancements-card-left {
  text-align: left;
}
.enhance-section {
  color: var(--main-font-color);
}
.enhance-section a {
  color: var(--secondary-color);
  text-decoration: none;
  text-align: right;
}
.enhance-section h3 {
  font-size: 1.8em;
}
.enhance-section p {
  font-size: 1.1em;
  line-height: 1.6;
}
  /* enhancement container end */
/* Typography end */

/* Style start */
  /* enhancement body start */
body#enhancement-body {
  padding: 0;
  background-color:var(--secondary-color);
}
  /* enhancement body end */

  /* enhancement container start */
#enchancements-title{
  padding: 10px; 
  margin: 20px auto; 
}
.enhancements-card-right {
  padding: 15px; 
  margin-right: 0;
  margin-left: auto;
}
.enhancements-card-left {
  padding: 15px; 
  margin-left: 0;
}
.enhance-section {
  background-color: var(--main-color); 
  padding: 20px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.enhance-section h3 {
  margin-bottom: 10px;
}
.enhance-img img{
  margin-left: 0,5rem;
  margin-right: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
  /* enhancement container end */
/* Style end */

/* Hover State start */
.enhance-section a:hover {
  text-decoration: underline;
}
/* Hover State end */
/* ----------enhancement.html end---------- */

/* Responsive start */

/* Tablet start */
@media screen and (min-width: 768px) and (max-width: 1023px){

  /* general start */
  html {
    font-size: 14px;
  }

    /* footer start */
  footer.index-footer .index-footer-description .index-footer__address p {
    font-size: 1.1rem;
  }
  .social-media-links a img {
    width: 40px;
  }
    /* footer end */

  /* general end */

  /* index.html start */
  main#index-main {
    height: 70vh;
    font-size: 1.2rem;
  }
  .index-services .services {
    padding: 1rem;
  }
  #software,#ai,#cloud {
    width: 33%;
  }
  article.index-customers section.customers { 
    animation: move 10s linear infinite;
  }
  .about-us-description {
    font-size: 1.2rem;
  }
  article.index-about-us section.about-us-description p {
    text-align: left;
  }
  a#about-learn-more {
    width: 50%;
  }
  .about-us-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-us-image img {
    width: 80%;
  }
  .testimonial-card-description p {
    font-size: 1.1rem;
  }
 
  /* index.html end */

  /* jobs.html start */
  /* jobs.html end */ 

  /* apply.html start */
  /* apply.html end */ 
  
  /* about.html start */
  /* about.html end */ 

  /* enhancement.html start */
  /* enhancement.html end */ 
}
/* Tablet end */

/* Mobile start */
@media screen and (max-width: 1023px){

  /* general start */
  html {
    font-size: 12px;
  }

    /* navbar start */
  header.navbar h1.company-name {
    font-size: 2rem;
  }
  header.navbar nav {
    width: 80%;
  }
  ul.navbar-list li::after{
    bottom: -1rem
  }
    /* navbar end */

    /* footer start */
  footer.index-footer .index-footer-description {
    width: 100%;
  }
  footer.index-footer .index-footer-description .index-footer__address p {
    font-size: 0.9rem;
  }
  .social-media-links a img {
    width: 23px;
  }
    /* footer end */
  /* general end */

  /* index.html start */
  main#index-main h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  main#index-main p {
    font-size: 1.2rem;
  }
  .services {
    flex-direction: column;
    align-items: center;
  }
  #software,#ai,#cloud {
    width: 80%;
  }
  article.index-customers {
    height: 25vh;
  }
  article.index-customers img {
    height: 8rem;
  }
  article.index-customers section.customers { 
    animation: move 8s linear infinite;
  }
  article.index-about-us {
    flex-direction: column;
    gap: 2rem;
  }
  article.index-about-us .about-us-description {
    width: 100%;
  }
  a#about-learn-more {
    width: 25%;
  }
  a.about-us-image {
    display: flex;
    justify-content: center;
  }
  .about-us-image img {
    width: 80%;
  }
  article.index-testimonial section.testimonial div.testimonial-card {
    width: 100%;
  }
  /* index.html end */

  /* jobs.html start */
  /* jobs.html end */ 

  /* apply.html start */
  /* apply.html end */ 
  
  /* about.html start */
  /* about.html end */ 

  /* enhancement.html start */
  /* enhancement.html end */  /* index.html end */ 
}
/* Mobile end */

/* Responsive end */