/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable */
:root {
  /* Color */
  --main-color: #16325B;
  --secondary-color: #227B94;
  --third-color: #78B7D0;

  --main-font-color: #FEFAE0;

  /* Font */
  --roboto-font: "Roboto", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --inter-font: "Inter", sans-serif;
}

/* header start*/
/* layout */
header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* typography */

/* style */
header.navbar {
  background-color: var(--main-color);
  padding: 0.5rem;
}
/* header end */

/* company name start*/
/* layout */

/* typography */
header.navbar .company-name {
  font-family: var(--inter-font);
  font-size: 3rem;
  color: var(--main-font-color);
}
header.navbar .company-name span {
  color: var(--secondary-color);
}

/* style */
header.navbar .company-name {
  padding: 0 1rem;
}
/* company name end*/

/* navbar start*/
/* layout */
ul.navbar-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 45%;
}

/* typography */
a.navbar-list__link {
  font-family: var(--inter-font);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--main-font-color);
}

/* style */
ul.navbar-list li {
  list-style-type: none;
}
/* navbar end*/